@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada');
@import url('https://fonts.googleapis.com/css?family=Denk+One');

.navcontainer{
	background-image: linear-gradient(#1a1a1a 80%, black); 
	height: 80px;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	box-shadow: 0px 0px 15px 1px white;
}

.item{
	color: #ffde72;
	flex-shrink: 0;
	padding: 1px;
	margin-left: 20px;
	margin-top: 10px; 
}

h1.item {
	font-family: 'Montserrat Subrayada', sans-serif;
}

h2.item{
	font-family: 'Denk One', sans-serif;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	color: #ffffff;
	opacity: 0.4;
}

@media all and (max-width: 500px){

	.navcontainer{
		justify-content: center;
		flex-wrap: wrap;
	}
}